/PBDV_SecurityApp-master/PBDV_SecurityApp-master/app/build
/PBDV_SecurityApp-master/PBDV_SecurityApp-master/.gradle/8.11.1
/PBDV_SecurityApp-master/PBDV_SecurityApp-master/.gradle/buildOutputCleanup
/PBDV_SecurityApp-master/PBDV_SecurityApp-master/.idea
/PBDV_SecurityApp-master/PBDV_SecurityApp-master/.gradle
